@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");



body {
  font-family: 'Oswald', sans-serif;
  text-transform: none;
  background-color: #484d5c;
  color: black;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #ffce00;
  font-size: 75px;
}


#app {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow: scroll;
  border: none;
}

#headline {
  background-color: #484d5c;
  border-style: solid;
  position: center;
  text-align: center;
  width: 400px;
  height: 300px;
  margin: auto;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5px;
}


img {
  margin: 5px;
  height: 200px;
  width: 300px
}

p {
  font-size: 15px;
}

a {
  color: #ffce00
}